<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SMK2.apkdheva">

    <application
        android:allowBackup="true"
        android:icon="@drawable/red"
        android:label="Dhev's Soundboard"
        android:roundIcon="@drawable/red"
        android:supportsRtl="true">

        <!-- MainActivity as Launcher Activity -->
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.APKDHEVA"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
